parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<Cake\\\\Chronos\\\\Chronos\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 4
			path: src/Chronos.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<static\\(Cake\\\\Chronos\\\\Chronos\\)\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 36
			path: src/Chronos.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\Chronos\\:\\:isTimeExpression\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Chronos.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 11
			path: src/Chronos.php

		-
			message: "#^Static method Cake\\\\Chronos\\\\ChronosDate\\:\\:create\\(\\) invoked with 8 parameters, 0-3 required\\.$#"
			count: 2
			path: src/ChronosDate.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\ChronosDate\\:\\:isRelativeOnly\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/ChronosDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 15
			path: src/ChronosDate.php

		-
			message: "#^Variable \\$tz on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/ChronosDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 10
			path: src/ChronosInterval.php

		-
			message: "#^Access to an undefined property Cake\\\\Chronos\\\\ChronosInterface\\:\\:\\$tz\\.$#"
			count: 1
			path: src/DifferenceFormatter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<Cake\\\\Chronos\\\\MutableDate\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 4
			path: src/MutableDate.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<static\\(Cake\\\\Chronos\\\\MutableDate\\)\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 39
			path: src/MutableDate.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\MutableDate\\:\\:isRelativeOnly\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/MutableDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 15
			path: src/MutableDate.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<Cake\\\\Chronos\\\\MutableDateTime\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 4
			path: src/MutableDateTime.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<static\\(Cake\\\\Chronos\\\\MutableDateTime\\)\\> and 'Cake\\\\\\\\Chronos\\\\\\\\ChronosDate' will always evaluate to false\\.$#"
			count: 36
			path: src/MutableDateTime.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\MutableDateTime\\:\\:isTimeExpression\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/MutableDateTime.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 15
			path: src/MutableDateTime.php

