parameters:
	ignoreErrors:
		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\Chronos\\:\\:isTimeExpression\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Chronos.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 13
			path: src/Chronos.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 10
			path: src/ChronosInterval.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\ChronosDate\\:\\:isRelativeOnly\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/ChronosDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 13
			path: src/ChronosDate.php

		-
			message: "#^Access to an undefined property Cake\\\\Chronos\\\\ChronosInterface\\:\\:\\$tz\\.$#"
			count: 1
			path: src/DifferenceFormatter.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\MutableDate\\:\\:isRelativeOnly\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/MutableDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 13
			path: src/MutableDate.php

		-
			message: "#^Unsafe call to private method Cake\\\\Chronos\\\\MutableDateTime\\:\\:isTimeExpression\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/MutableDateTime.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 13
			path: src/MutableDateTime.php

